<style type="text/css">
  #about, #about section, #about .col-2{ width: 100%; }
  #about section a.doc{
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 40px;
    display: block;
  }
#about section h3{
  margin: 20px 0 15px 0;
  font-size: 16px;
  font-weight: bold;
  color: #404040;
}
  #about section a.pdf{
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    marg in-top: 40px;
    display: block;
    margin-bottom: 7px;
  }
  #about section a img{ width: auto !important; border: none; }
</style>

<section id="about" class="page">

  <div class="col-2 first">
    <section>
      <a class="doc" href="/About-W8.docx">Download WonderEight's Press Release</a>
      <br>
      <br>

      <a href="/WonderEight_bldg.jpg" target="_blank"><img src="/WonderEight_bldg.jpg" alt="" height="250"></a>
      <a href="/W8_studio.jpg" target="_blank"><img src="/W8_studio.jpg" alt="" height="250"></a>
      <a href="/WonderEight_bldg2.jpg" target="_blank"><img src="/WonderEight_bldg2.jpg" alt="" height="250"></a>

      <br>
      <br>
      <h3>Download our showcase PDFs</h3>
      <a class="pdf" href="/showcase/branding/W8_Branding_Showcase.pdf" target="_blank">Branding</a>
      <a class="pdf" href="/showcase/websites/W8_Web_Showcase.pdf" target="_blank">Websites</a>
      <a class="pdf" href="/showcase/restaurants/W8_Restaurant_Showcase.pdf" target="_blank">Restaurants</a>
      <a class="pdf" href="/showcase/illustrations/W8_Illustration_Showcase.pdf" target="_blank">Illustration</a>
      <a class="pdf" href="/showcase/packaging/W8_Packaging_Showcase.pdf" target="_blank">Packaging</a>
    </section>
  </div>

  <div class="clear"></div>
</section>
