
  <style type="text/css">
    body{
      padding: 40px 50px;
      margin: 0 !important;
      font-family: Helvetica, sans-serif;
      font-size: 12px;
      font-weight: 500;
    }
    #page404{
      width: 400px;
      margin: 10px;
      font-family: helvetica, serif;
      margin-top: 80px;
    }
    #page404 h1{
      font-size: 80px;
      font-weight: bold;
      margin-bottom: 5px;
      margin-top: 30px;
    }
    #page404 h3{
      font-weight: bold;
      margin: 0;
      margin-bottom: 10px;
      font-size: 30px;
      line-height: 34px;
    }
    #page404 p{
      font-size: 24px;
      margin: 0;
      font-weight: normal;
      line-height: 28px;
    }
    #page404 .btn{ width: 120px; margin-top: 30px; margin-bottom: 50px; }
    #page404 .btn a{
      display: block;
      background: #222;
      font-size: 13px;
      color: #fff;
      padding: 8px;
      text-align: center;
      font-weight: bold;
      text-decoration: none;
    }
    #page404 .btn a:hover{
      background: #111;
    }
    #page404 p.about{
      font-size: 13px;
      font-style: italic;
      line-height: 20px;
    }
  </style>


  <!-- This file lives in public/404.html -->
  <section id="page404" class="page">
    <h1>404</h1>
    <h3>Oops! The page you have requested is not available.<h3>
    <p>If you typed the address, please verify that the spelling is correct</p>
    <div class="btn"><a href="http://www.wondereight.com">GO BACK</a></div>

    <p class="about">
      We are a Beirut based design agency, working for international and local companies who like to challenge their customers and want to be different and daring. Benefiting from our cultural diversity, we innovate in the fields of branding and visual communication. Our strategic location in the gate of the Middle East allows us to bridge between western and eastern brands and to create concepts that work in their environment while introducing new ways of co-creation.
    </p>
    <div class="clear"></div>
  </section>
