<% provide(:eroomMenu, 'selected') %>
<% provide(:title, 'Talks & Trainings - WonderEight') %>
<% provide(:summary, 'We are a Beirut based design agency working for international and local companies who like to challenge their customers and want to be different and daring') %>
<% provide(:image, 'eroom-photo.jpg') %>

<section id="eroom" class="page">

  <div class="col first">

    <section>
      <%= image_tag "eroom.png", alt: "E-ROOM", id: "eroom-logo", style: "width: 100%" %>
    </section>

  </div>

  <div class="col-2 first">

    <section>

      <%= image_tag "eroom-logo.gif", alt: "", style: "width:35%", id: "logo" %>

      <p>
        A facility where we give talks and trainings to visitors, covering subjects from our work experience.
        It also hosts guest speakers and tutors, with access to all the building’s facilities.
        The E/Room programs are open for all applicants and are constantly updated on our website.
      </p>
      <p>
        We’re proud to say that the E/Room is the first room to use <a href="http://cedarenv.com" target="_blank">Cedarenv.com's Eco-Board®</a> and is mostly built from recycled and recuperated material (42 eco-boards equivalent to 153,972 supermarket plastic bags).
        The roof also collects rainwater in tanks, with which we water our garden.
      </p>
    </section>

  </div>

  <div class="col-2 last">

    <section>

      <h2>
        <div>Our doors are opn during Beirut Deign Week! <br>
        <span>June 24-30</span></div>
        <%= image_tag "bdw2.png", alt: "" %>
      </h2>

      <div class="third-col first">
        <h3>Workshops &amp; Talks</h3>
        <ul>
          <li>
            <hr>
            <strong>Mon 24 at 6:00 PM</strong>
            <strong>On the path to a zero waste society</strong>
            <p>Ziad Abichaker</p>
            <a href="#">Register</a>
          </li>
          <li>
            <hr>
            <strong>Tue 25 at 6:30 PM</strong>
            <strong>How to wireframe like a ninja</strong>
            <p>
              Hiba Moujabber <br>
              Duration: 1 hour
            </p>
            <a href="#">Register</a>
          </li>
        </ul>
      </div>

      <div class="third-col">
        <h3> <br><br></h3>
        <ul>
          <li>
            <strong>Wed 26 &amp; Fri 28 at 6:30 PM</strong>
            <strong>Visual alphabet</strong>
            <p>
              Karim Abou Rizk <br>
              Duration: 1 hour
            </p>
            <a href="#">Register</a>
          </li>
          <li>
            <hr>
            <strong>Thu 27 at 6:30 PM</strong>
            <strong>Sketching for graphic design</strong>
            <p>
              Walid Nasrala <br>
              Duration: 1 hour
            </p>
            <a href="#">Register</a>
          </li>
          <li>
            <hr>
            <strong>Sun 30 at 6:00 PM</strong>
            <strong>"Designpreneur 2.0"</strong>
            <p>
              Mirada Madrid <br>
              Duration: 2 hour
            </p>
            <a href="#">Register</a>
          </li>
        </ul>
      </div>

      <div class="third-col last">
        <h3>Screenings</h3>
        <ul>
          <li>
            <hr>
            <strong>Mon 24 &amp; Sun 30 at 8:00</strong>
            <strong>Our Daily Bread</strong>
            <p>Nikolaus Geyrhalter, 92 min</p>
            <a href="#">Register</a>
          </li>
          <li>
            <hr>
            <strong>Wed 26 at 8:00PM</strong>
            <strong>Beautiful losers</strong>
            <p>
              Aaron Rose, 90 min
            </p>
            <a href="#">Register</a>
          </li>
          <li>
            <hr>
            <strong>Fri 28 at 8:00PM</strong>
            <strong>The Cool School</strong>
            <p>
              Morgan Neville, 86 min
            </p>
            <a href="#">Register</a>
          </li>
        </ul>
      </div>



    </section>

  </div>

  <div class="col-2 last">
    &nbsp;
  </div>

  <div class="clear"></div>
</section>
