
<section id="about" class="page">

  <div class="col-2 first">
    <section class="intro" style="margin-top:30px;">
        <div id="slider">
          <a><%= image_tag('about-main.jpg', alt: "") %></a>
          <a><%= image_tag('w8-team.jpg', alt: "") %></a>
        </div>
    </section>

    <section id="partners">
      <h2>Our Key Partners</h2>
      <ul>
        <li class="box">
          <div>
            <h5>Process Design</h5>
            <p><a href="http://miradamadrid.com/">Mirada Madrid</a></p>
          </div>
        </li>
        <li class="box">
          <div>
            <h5>Media</h5>
            <p>
              <a href="http://www.pikasso.com/">Pikasso</a>, <a href="http://facebook.com">Facebook</a>,
              <a href="http://tripadvisor.com">Tripadvisor</a>,
              <a href="http://www.hospitalitynewsmag.com/en/event/HN-Hospitality-NewsMag">HospitalityNews</a>,
              <a href="http://www.digitalits.com/">DigitalITs</a>
              We have identified Key media channels that best fit strategic audiences.
            </p>
          </div>
        </li>
        <li class="box">
          <div>
            <h5>Printing &amp; Packaging</h5>
            <p>
              Graphtec, Eid Printing, Press, Liban Pack, Yaman Group, Gemayel
              A big part of the brand experience comes from the things you
              touch and see.
            </p>
          </div>
        </li>
        <li class="box">
          <div>
            <h5>Animation</h5>
            <p>
              Caustik, 12 Angry Pixels Cutting-edge animation, special effects
              and editing studios. Popcorn anyone?
            </p>
          </div>
        </li>
        <li class="box">
          <div>
            <h5>Events</h5>
            <p>
              Si Live, Talents Management
              Bespoke events creation, management and activation.
            </p>
          </div>
        </li>
        <li class="box">
          <div>
            <h5>Direct Marketing</h5>
            <p>
              DirectMarketing SA Interactive on-the-ground teams, for products
              activation and in-store promotion
            </p>
          </div>
        </li>
        <li class="box">
          <div>
            <h5>Online Marketing &amp; Social Media</h5>
            <p>
              Eastline Marketing W8 has partnered with Manyfood s.a.r.l. to bring
              you best in food
            </p>
          </div>
        </li>
        <li class="box">
          <div>
            <h5>Photography &amp; Food Styling</h5>
            <p>
              Karim AbouRizk/Chef Ramzi The perfect combination to guarantee
              mouth-watering photos on your menu.
            </p>
          </div>
        </li>
        <li class="box">
          <div>
            <h5>Consulting &amp; Franchising</h5>
            <p>
              <a href="http://www.hodema.net/">Hodema</a>, I-Franchise One of the best consulting companies in the
              region, servicing local and international markets.
            </p>
          </div>
        </li>
        <li class="box">
          <div>
            <h5>Architects</h5>
            <p>
              Georges Chidiac, Claude Missir, Ramzi Aboufadel, Bachir Nader
              We work closely with architects who have a wide experience
              in Hospitality.
            </p>
          </div>
        </li>
        <li class="box">
          <div>
            <h5>Retail &amp; Shelving</h5>
            <p>
              Assaf, Kabbabe Our consultants for Point-of-Sale marketing,
              shopping and traffic flow analysis.
            </p>
          </div>
        </li>
        <li class="box">
          <div>
            <h5>Food &amp; Ingredients Supply</h5>
            <p>
              W8 has partnered with Manyfood s.a.r.l. to bring you best in food
              brands at the lowest prices, along with specialists to support your
              chef and his team during ingredients trials and recipes creation.
            </p>
          </div>
        </li>
        <li class="box">
          <div>
            <h5>Leadership Consultancy</h5>
            <p>
              Derek Watson Mindful Leadership
            </p>
          </div>
        </li>
        <li class="box">
          <div>
            <h5>Technology Hub</h5>
            <p>Berytech s.c.a.l</p>
          </div>
        </li>
        <li class="box">
          <div>
            <h5>W8 Workshop</h5>
            <p>
              We have our own studio, operated by craftsmen and designers
              to create your signature items, through Prototyping, Design
              &amp; Production!
            </p>
          </div>
        </li>
      </ul>
    </section>
  </div>

  <div class="col-2 last">
    <section id="recipe">
      <hgroup>
        <h2>WHAT WE DO</h2>
      </hgroup>
      <p>
        Our practices range from brand creation, to visual identity design, brochures,
        posters, packaging, stands, signage, graphic decoration, communications, above
        &amp; below the line campaigns, marketing strategy, online and ambient media
        buying, copywriting, creative copy and design consultancy. We also design and
        develop websites and interactive solutions, advanced UX, Apps, animation and
        game design. We specialize as well in Illustration and character creation.
      </p>

      <hr>
    </section>
    <section id="process">
      <h2>ABOUT WONDEREIGHT</h2>
      <p>
        We are a Beirut based design agency, working for international and local
        companies who like to challenge their customers and want to be different
        and daring. Benefiting from our cultural diversity, we innovate in the fields
        of branding and visual communication. Our strategic location in the gate of
        the Middle East allows us to bridge between western and eastern brands and to
        create concepts that work in their environment while introducing new ways of
        co-creation.
      </p>
      <p>
        Founded in 1999 by Nasrala brothers Boudy and Walid, today, with Karim Abourizk
        also on board it gathers a handful of highly skilled creative designers, web
        developers and marketing strategists who enjoy a bespoke work environment, made
        to inspire and interact with the local design and art community. This creative
        space regroups a design agency, a prototyping workshop, a facility for trainings
        and talks, a handpicked book library and an art exhibition space.
      </p>
      <p>
        This multifaceted environment keeps on renewing itself and creates a constant
        synergy between us, our clients, and the public.
      </p>

      <hr>
    </section>

    <section id="workshop">
      <a href="http://www.wondereight.com/workshop" style="display:block;" target="_blank">
        <img src="images/workshop-logo.gif" alt="Wondereight Workshop logo" align="left" width="154" height="99"
          style="width: auto; margin-right: 40px;">
        <h2 style="margin-top:0">WORKSHOP GALLERY </h2>
        <p>
          <a href="http://www.wondereight.com/workshop">Workshop gallery</a> is a new
          independent exhibition space for contemporary art, hosted within our premises
          to complete the building’s gestalt.
        </p>
        <p style="margin-left:195px;">
          From its modest 14.3 sqm, it puts the emergent Lebanese and international artists
          under the spot light, in a mission to encourage the diversity and experimentation
          of art in the region.
        </p>
        <hr>
      </a>
    </section>

    <section class="map" id="map">
      <!-- <div style="width:100%; height:400px;" id="map_canvas"></div> -->
      <img src="images/map.jpg" alt="Wonder Eight map location">
      <hr>
    </section>

    <section>
      <div class="socials">
        <span>Share</span>
        <a target="_blank" href="http://www.facebook.com/pages/WonderEight-Brand-Design-Animation-Interactive/112933422105082?fref=ts"><img src="images/icons/facebook.png" alt=""></a>
        <a target="_blank" href="http://www.behance.net/WonderEight"><img src="images/icons/behance.png" alt=""></a>
        <a target="_blank" href="https://twitter.com/Wonder_Eight"><img src="images/icons/twitter.png" alt=""></a>
        <a target="_blank" href="http://www.linkedin.com/company/1681614?goback=%2Efcs_GLHD_wondereight_false_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2&trk=ncsrch_hits"><img src="images/icons/linkedin.png" alt=""></a>
        <!-- <a href=""><img src="images/icons/printress.png" alt=""></a> -->
        <div class="clear"></div>
      </div>
    </section>
  </div>

  <div class="col first">
    <section id="clients">
      <h2>Our Clients</h2>
      <p>Abi Najem Law Offices / Abou Sleiman Law / ACE Tools / ADSIC - Abu Dhabi / Adverto - Canada / Afkar PromoSeven - KSA / Africell - Gambia / Africell - Sierra Leone / AGEV / Aishti  / Ajlan Bros. - KSA / Al Ajami - Paris / Al Beik - KSA / Al Jazira TV / AL MATHAAQ - KSA / Al Mawaed / Al Romaizan - KSA / ALLEYCAT LLC
      Almaza Beer / Almozn Drilling - Libya / ALUCO  / Ameer Al Baher - Libya / ANC - KSA / Antoine Restaurant - Paris / Arab Printing Press / Architecure Au Liban / Atibaia Wine / Auracol - Holland / B to B / B, Creative Boutique / Baker &amp; More - Dubai / Barilla / BarterCard / Beirut Creative Cluster / Beirut Green Guide
      Beirut International Jazz Festival / Beirut Marathon Association / Beirut Street Kitchen - UK / Beiruting / BEL / Bellevue Medical Center / Berytech Fund / Berytech Technological Pole / Best Seller / Biomedic / Bjorg / Bkheir / BLC Bank / BLU Loyalty / BML Istisharat / Bnooki Finance / BO Concept / BOB's Easy Diner /
      BOECKER  / Bookmark / Born Interactive / Boubess Group / BPS / British American Tobacco / B-Synchro / Butterfleye / Byblos Restaurant - Canada / Cactimedia - Dubai / Café de Flore Paris / Café Diem /Cafiance Camperio - France / Caisse Mutuelle Laïque / Cash United  / Castania / Castania - Kuwait / CCI / Cedar Environmental / Century Communication / Certified Public Accountants / CertifyMe / Chain Digital Media - France / Chain Finance - China / Charisma TV / Chateau Musar / Chicken &amp; Cow  / CLAP Production / Classic Burger Joint / Clay Restaurant / Clemenceau Medical Center / Clinique Tivoli Hospital - France / Clos Du Chene  / Cluster Goods - USA / Co-Creando - Italy / Comtek  / Cool Five  / CORTAS / Cosmaline Industries  / COZMO Restaurant / Credys - France / Crepaway / CSC / CTServ / Cutting Edge / CyberPcs  / CyberRoards / DAK Country Club / DCSoft Intl. / DDAA / Debbane Group / Delb Country Club / Dents De Lait / Dermandar App / DIAGEO / Direct Marketing / Djinn House / DORITOS / DOT - USA / Drosh V - KSA / DUNLOP / Dynamics Advertising - KSA / Ebiz - Paris / EDS - Germany / Educart / Elefteriades Production / Element N Technologies  / Elias Haswani / Empire - USA / Enoteca / Entelligence / Estee / Ethos / Ets Michel Najjar  / Event Guru / Exotic Food / Falafel Abouelziz / Fattal / Fido Advertising / Fidus / Filmworks / FireHorse / Fluffy Cakes / Fondation Liban Cinema / FoodsCO / Four Kitchens Restaurant / French Bakery / Fringo Chips - USA / FRITOLAY / Frizzy  / From Nature - KSA / FTC Telecom / Full Stop - KSA / Future Builders / FVC Polycom / GCH Architects / Georges Khoury / Giscardo Mannequin / Graphtec Printing / Green plus / Grey Worldwide / Group 4 Securicore / Group Plus / GSM / Hakme Group Real estate / Hamburger Union - Kuwait / HAMM - Germany / Harbtek / HardRock Café / Heald Trading company  / HedgeHog / Heineken / Hiba Al Kawas / Hneine Entreprises Generales / Hodema / Hohenrainer / HOOVER / Hosman  / Hospitality Services  / House of Nuts  / Husny Bey Group - Libya / IAS Africa / ICE - UAE / ID perception / IDM / IDMI / IFC - Qatar / IFG Holding / IMC - Qatar / ImpactBBDO / Independent Productions / Industrial Kingdom - KSA / Info Pro  / Instabeat Goggles / Intel / Intermarkets / Invigo / i-Stream / ITC - Kuwait / Jaques Dessange / Jean Anid &amp; Fils / Jenny's Nursery / Joseph Khoury &amp; Co / Joseph's Shop 10 - Jamaica / Joyco / Kaiten Sushi / Khoury Home Appliances / Kiri Cheese / KrisKros Restaurant - Dubai / Kyphi / La Collina / Country Club / La Maison du Ski / La Piazza Restaurant / Le Commodore Hotel / Le Meridien Hotel / Le Notre - Qatar / Le Relais de l'Entrecôte / LEAD - Sarraf / Lebanon Creative Cluster / Leila Restaurant / Leo Burnett / LEO BURNETT - KSA / Les Creneaux Country Club / Les Opticiens Chamelian / LG Electronics / Libancell / Lifesyles / Light FM / Lilly - KSA / LINA's  Paris / Linkers Group / Little Kitchen - Paris / London Dairy / M&amp;C Distribution  / M. Nassif et fils  / Mad4Films - Canada / Made In Saudi Films / Magali Katra / Maghrabi / Magic Chef / Magnolia Restaurant / Mandarine Restaurant / Manyfood / Marrouch Restaurants  / MARS Co. / Massoud &amp; Partners / MAYTAG / Mazitout / M-Design Architect / Mecattaf Group / Mectapharm / Media Management Services  / MEDIA Plus / Mediapack / Mephico / Metaform X / Metropole Restaurant / Microsoft / Migrend - The Netherlands / Ministry of Food / Momentum - Bahrain / Monday Blues Band / Moneygram / Mowgli - UK / MSP / Multilane / Mymoune / Napoletana / Nasri Group / Nestlé / Netlink / Neuteck - USA / New Land for Youth / NexTech / Nowhereistan / NRJ / NTE / Oakley - Iraq / Ocean Spray / Offre Joie NGO / Onlivery / Optical City / ORCA Architects / Origami Restaurant / Outwalk / P&amp;G Levant / Pain D'or / Panasonic / Panda Cola - COTE D'IVOIRE / Panjan - KSA / PATCHI / Path Solutions / Paul De Vartens / Pépite Fashion / PEPSI / PewPew / Pharmacie Le Gabriel / Phoenician Traders - Caribbean / Picon Cheese / Pinacle - Dubai / Pomme S / Pomodoro Pizzeria / Poppins Cereals / Powernetwork TV / Premier Marathons - UAE / PrintPack / Printworks / Procter and Gamble / PS Lab / Quadron - Libya / Radio one / Randa Noujeim / Ray Ban / Red Bull / Red Cell / RedStripe Beer / Rio Grande / Riviere Santé / Rocket Restaurant / Rogers Diner - Qatar / Rotana TV / Rotiboy - Qatar / Royal Coast Tuna  / Saatchi &amp; Saatchi / Sabine Kassouf / Sacotel / Saifi Gardens Real estate / Salus Consulting / Sam Pepper - France / Sanita / Saudi Snack Foods co. / Scame Elec. / School of the Blind and Deaf / Scoozi Restaurant / Sealco - Jordan / Seedbound- USA / Selim Mouzanar Jewelry SHAAMS Europe / Sheesh Restaurant / Shikyou Cosmetics - Switzerland / Signature Productions / SMSend / SofraDaymeh / SoftMind / Solano / SONY / Spirit Advertising / S-Signature / Star Events / Stingy Campus - USA / Stones and Right / Studio Vision / Super Brasil Coffee / Sushi Bento / SyncMax / Syndicat des Propriétaires de Garderies / TAANAYEL Dairy / Tadawul - Switzerland / Talents Management / Tallet Nasr Restaurant / Team Young &amp; Rubicam / Team Lebanon / Technotex / Teletrade CS / The BB Fund / The Great Entertainment / The Green - London / The MET / THE One / The Peninnsula Group / The Talkies / The Wedding Co. / Ting - Jamaica / Tinol Paints / TipTop Accessories / Tomatomatic / Top Stone -KSA / Touch Production / Trend / Twentyfive03 Ad Agency / Twice Daily - Paris / UCCM / K Med LLC / Un coeur pour Philippe / Uptown 966 - KSA / USC - Paris / Venus Transet / Vision Entertainment / Vogele - Germany / Wellmark - Dubai / Whirlpool - Europe / Wirtgen - Germany / Wok Box - Canada / WonderBerry / Wood Factory / World News MP3 / X-Stream Productions / YCR Real-estate - Qatar / Yoforia Frozen Yogurt - USA / Zain Telecom - KSA / Zakhour Link House / ZAYAT - UAE / ZEN Cigars - Jamaica / Zero Scratch - KSA
      </p>
    </section>
  </div>

  <div class="clear"></div>
</section>
