<% provide(:libraryMenu, 'selected') %>
<% provide(:title, 'The Library - WonderEight') %>
<% provide(:summary, 'We are a Beirut based design agency working for international and local companies who like to challenge their customers and want to be different and daring') %>
<% provide(:image, 'eroom-photo.jpg') %>

<section id="about" class="page">

  <div class="col first">

    <section id="Library">
      <%= image_tag "library-photo.jpg", alt: "The Library", id: "library-logo" %>
      <%= image_tag "online-rental.png", alt: "Online Rental", class: "online" %>

      <h2>The Library</h2>
      <p>
        Our workshop also includes a handpicked library of the books that inspire us. It is open to the public for rental and is constantly updated. <br>
        These books cover design as well as photography, architecture, marketing and more.
      </p>
    </section>

  </div>

  <div class="col-2 last">


  </div>

  <div class="col-2 last">
    &nbsp;
  </div>

  <div class="clear"></div>
</section>
