<% provide(:workshopMenu, 'selected') %>
<% provide(:title, 'Prototyping Workshop - WonderEight') %>
<% provide(:summary, 'We are a Beirut based design agency working for international and local companies who like to challenge their customers and want to be different and daring') %>
<% provide(:image, 'eroom-photo.jpg') %>

<section id="about" class="page">

  <div class="col first">

    <section id="Library">
      <%= image_tag "workshop.jpg", alt: "Workshop" %>

      <h2>Prototyping Workshop</h2>
      <p>
        An experimental lab where we design and prototype objects, prints and accessories we're inspired to create. <br>
It’s equipped with tools and machinery to handcraft and realize our ideas from sketches to prototypes, whereas the bigger pieces are produced in neighboring workshops of the industrial city we’re located in; a perfect harmony between our design company and its surrounding environment.
      </p>
    </section>

  </div>

  <div class="col-2 last">


  </div>

  <div class="col-2 last">
    &nbsp;
  </div>

  <div class="clear"></div>
</section>
