@media screen and (max-width: 1400px) {

}

@media screen and (max-width: 1290px) {
	.page #portfolio li a p span{ padding: 8px 12px; }
	.page #portfolio li a p span em{ display: block; padding-top: 2px; }
	#work section.info .socials span{
		clear: both;
		display: block;
		float: none;
		margin-bottom: 2px;
		width: 50px;
	}
	#work section.info .socials a{ padding: 6px 10px 6px 10px; }
}

@media screen and (max-width: 1024px) {
	.page #portfolio li a p span{ padding: 8px 12px; }
	.page #portfolio li a p span em{ display: block; padding-top: 2px; }
	.page #portfolio li{ width: 33.3% }
	#work section.info ul li{ padding-right: 20px; }
	#work section.info p{ padding-right: 40px; }
	#work section.info .socials span{
		clear: both;
		display: block;
		float: none;
		margin-bottom: 2px;
		width: 50px;
	}
	#work section.info .socials a{ padding: 6px 8px 6px 8px; }
	#about .col-2{ width: 100%; }
	#about .col-2 section{ padding: 0 0 0 5px; }
	#about div.socials{ margin-top: 40px; }
}

@media screen and (max-width: 800px) {
	.page #portfolio li a p span{ padding: 8px 12px; }
	.page #portfolio li a p span em{ display: block; padding-top: 2px; }
	.page #portfolio li{ width: 50% }

	header.main nav#menu { display: none; }
	header.main nav#menu2 { display: block; }

	a.prev,
	a.next{
		width: 60px;
	}

	#about .col-2{ width: 100%; }
	#about .col-2 section{ padding: 0 0 0 5px; }

	#about section p.big {
		font-size: 24px;
		line-height: 34px;
	}
	#about section h2{ font-size: 28px; }
	#about section h4{ font-size: 18px }
}

@media screen and (max-width: 600px) {
	.page{ margin-top: 20px; }
	.page #portfolio li a p span{ padding: 8px 12px; }
	.page #portfolio li a p span em{ display: block; padding-top: 2px; }
	.page #portfolio li{ width: 100% }

	header.main nav#menu ul li{ display: block !important; float: right; }
	body{ padding: 40px 30px; }
	a.prev,
	a.next{
		width: 45px;
		height: 60px;
	}
	#work figure .col-2{ width: 100%; }
	#work figure .col-1{ width: 100%; }
	#work figure .col{ width: 100%; }
	#work section.info .socials a{ padding: 6px 0px; width: 70px; text-align: center; clear: both; }
	#work section.info ul li strong{ display: block; }

	#work section.info .col-2{ width: 100%; }
	#work section.info .col-1{ width: 50%; }
	#work section.info ul li strong{ display: inline; }
	#work section.info .socials a{ padding: 6px 10px; width: auto; text-align: center; clear: none; }

	#about div.socials{
		width: 97%;
	}
}

@media screen and (max-width: 400px) {
	a.prev,
	a.next{
		width: 30px;
		height: 60px;
	}
	body{ padding: 20px; }

	#work section.info{ margin-bottom: 40px; }
	#work section.info .col-2{ width: 100%; }
	#work section.info .col-1{ width: 100%; }

	#work section.info ul{ margin-top: 30px; }
	#work section.info ul li{ padding-right: 20px; }

	header.main nav#socials{ clear: both; float: left; text-align: left; margin-top: 10px; }
	#work section.info .socials{ margin-top: 90px; bottom: auto; }
	#work section.info .socials span{ width: 52px; float: left; }
	#work section.info .tags{ padding-top: 30px; }

	footer .left{ float: left; width: 100%; }
	footer .right{ float: left; width: 100%; text-align: left; padding: 12px 0 20px 0; }
	#work section.info p{ padding-right: 0px; }

	.page #portfolio li#showcase div li{ clear: both; }
	#about #contact address{
		float: none;
		margin-right: 0;
		height: auto;
		width:100%;
		margin-top:25px;
	}
	#workshop p{
		margin-left: 0;
	}
	#workshop h2{
		display: none;
	}
	#map{
		margin-top: 25px;
	}

	#about #contact address.bold {
	    font-size: 17px;
	    font-weight: bold;
	    line-height: 22px;
	}
}
