<footer>
  <div class="left">
    <a target="_blank" href="#">W8 Building</a>, Beirut - Lebanon P.O. Box 2701-1411 Tel/fax (+961) 1 494 552/331/332  Email <a href="mailto:info@wondereight.com">info@wondereight.com</a>
  </div>
  <div class="right">&copy; 2013 Wondereight </div>
</footer>
